In [1]:
import psycopg2
from os import environ
conn = psycopg2.connect(dbname='postgres', user='postgres', host=environ['POSTGRES_1_PORT_5432_TCP_ADDR'])
cur = conn.cursor()

In [2]:
sql = """
SELECT count(*) FROM people;
"""
cur.execute(sql)
cur.fetchall()[0]

(189118,)

In [3]:
sql = """
SELECT count(*) FROM action
WHERE act_outcome is NULL;
"""
cur.execute(sql)
cur.fetchall()[0]

(498687,)

In [4]:
sql = """
SELECT count(*) FROM action
WHERE act_outcome is NOT NULL;
"""
cur.execute(sql)
cur.fetchall()[0]

(2197291,)

In [5]:
sql = """
SELECT text,boolean,timestamp FROM
    (SELECT COUNT(data_type)
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE table_name = 'action' 
        AND data_type='text') as text,
    (SELECT COUNT(data_type)
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE table_name = 'action' 
        AND data_type='boolean') as boolean,
    (SELECT COUNT(data_type)
        FROM INFORMATION_SCHEMA.COLUMNS
        WHERE table_name = 'action' 
        AND data_type='timestamp without time zone') as timestamp;
"""
cur.execute(sql)
cur.fetchall()

[('(13)', '(1)', '(1)')]

In [6]:
sql = """
SELECT text,boolean,timestamp,real FROM 
    (SELECT COUNT(data_type) 
        FROM INFORMATION_SCHEMA.COLUMNS 
        WHERE table_name = 'people' 
        AND data_type='text') as text,
    (SELECT COUNT(data_type) 
        FROM INFORMATION_SCHEMA.COLUMNS 
        WHERE table_name = 'people' 
        AND data_type='boolean') as boolean,
    (SELECT COUNT(data_type) 
        FROM INFORMATION_SCHEMA.COLUMNS 
        WHERE table_name = 'people' 
        AND data_type='timestamp without time zone') as timestamp,
    (SELECT COUNT(data_type) 
        FROM INFORMATION_SCHEMA.COLUMNS 
        WHERE table_name = 'people' 
        AND data_type='real') as real;
"""
cur.execute(sql)
cur.fetchall()

[('(11)', '(28)', '(1)', '(1)')]

In [7]:
sql = """
SELECT people_id, ppl_group_1, ppl_date
    FROM
    (SELECT COUNT(DISTINCT people_id) FROM people) AS people_id,
    (SELECT COUNT(DISTINCT ppl_group_1) FROM people) AS ppl_group_1,
    (SELECT COUNT(DISTINCT ppl_date) FROM people) AS ppl_date;
"""
cur.execute(sql)
cur.fetchall()

[('(189118)', '(34224)', '(1196)')]

In [ ]:
sql = """
SELECT p1,p2,p3,p4,p5,p6,p7,p8,p9
  FROM
    (SELECT COUNT(DISTINCT ppl_char_1) FROM people) AS p1,
    (SELECT COUNT(DISTINCT ppl_char_2) FROM people) AS p2,
    (SELECT COUNT(DISTINCT ppl_char_3) FROM people) AS p3,
    (SELECT COUNT(DISTINCT ppl_char_4) FROM people) AS p4,
    (SELECT COUNT(DISTINCT ppl_char_5) FROM people) AS p5,
    (SELECT COUNT(DISTINCT ppl_char_6) FROM people) AS p6,
    (SELECT COUNT(DISTINCT ppl_char_7) FROM people) AS p7,
    (SELECT COUNT(DISTINCT ppl_char_8) FROM people) AS p8,
    (SELECT COUNT(DISTINCT ppl_char_9) FROM people) AS p9;
"""
cur.execute(sql)
cur.fetchall()

[('(2)', '(3)', '(43)', '(25)', '(9)', '(7)', '(25)', '(8)', '(9)')]

In [ ]:
sql = """
SELECT act_id, act_date, act_category
    FROM
    (SELECT COUNT(DISTINCT act_id) FROM action) AS act_id,
    (SELECT COUNT(DISTINCT act_date) FROM action) AS act_date,
    (SELECT COUNT(DISTINCT act_category) FROM action) AS act_category;
"""
cur.execute(sql)
cur.fetchall()

[('(2695978)', '(411)', '(7)')]

In [ ]:
sql = """
SELECT a1,a2,a3,a4,a5,a6,a7,a8,a9,a10
    FROM 
    (SELECT COUNT(DISTINCT act_char_1) FROM action) AS a1,
    (SELECT COUNT(DISTINCT act_char_2) FROM action) AS a2,
    (SELECT COUNT(DISTINCT act_char_3) FROM action) AS a3,
    (SELECT COUNT(DISTINCT act_char_4) FROM action) AS a4,
    (SELECT COUNT(DISTINCT act_char_5) FROM action) AS a5,
    (SELECT COUNT(DISTINCT act_char_6) FROM action) AS a6,
    (SELECT COUNT(DISTINCT act_char_7) FROM action) AS a7,
    (SELECT COUNT(DISTINCT act_char_8) FROM action) AS a8,
    (SELECT COUNT(DISTINCT act_char_9) FROM action) AS a9,
    (SELECT COUNT(DISTINCT act_char_10) FROM action) AS a10
"""
cur.execute(sql)
cur.fetchall()

[('(51)',
  '(32)',
  '(11)',
  '(7)',
  '(7)',
  '(5)',
  '(8)',
  '(18)',
  '(19)',
  '(6969)')]

In [ ]:
sql = """
SELECT p10,p11,p12,p13,p14
    FROM
    (SELECT ROUND(AVG(ppl_char_10::int), 4) FROM people) AS p10,
    (SELECT ROUND(AVG(ppl_char_11::int), 4) FROM people) AS p11,
    (SELECT ROUND(AVG(ppl_char_12::int), 4) FROM people) AS p12,
    (SELECT ROUND(AVG(ppl_char_13::int), 4) FROM people) AS p13,
    (SELECT ROUND(AVG(ppl_char_14::int), 4) FROM people) AS p14;
"""
cur.execute(sql)
cur.fetchall()

[('(0.2509)', '(0.2155)', '(0.2403)', '(0.3651)', '(0.2598)')]

In [ ]:
sql = """
SELECT p15,p16,p17,p18,p19
    FROM
    (SELECT ROUND(AVG(ppl_char_15::int), 4) FROM people) AS p15,
    (SELECT ROUND(AVG(ppl_char_16::int), 4) FROM people) AS p16,
    (SELECT ROUND(AVG(ppl_char_17::int), 4) FROM people) AS p17,
    (SELECT ROUND(AVG(ppl_char_18::int), 4) FROM people) AS p18,
    (SELECT ROUND(AVG(ppl_char_19::int), 4) FROM people) AS p19;
"""
cur.execute(sql)
cur.fetchall()

[('(0.2695)', '(0.2821)', '(0.2920)', '(0.1876)', '(0.2847)')]

In [ ]:
sql = """
SELECT p20,p21,p22,p23,p24
    FROM
    (SELECT ROUND(AVG(ppl_char_20::int), 4) FROM people) AS p20,
    (SELECT ROUND(AVG(ppl_char_21::int), 4) FROM people) AS p21,
    (SELECT ROUND(AVG(ppl_char_22::int), 4) FROM people) AS p22,
    (SELECT ROUND(AVG(ppl_char_23::int), 4) FROM people) AS p23,
    (SELECT ROUND(AVG(ppl_char_24::int), 4) FROM people) AS p24;
"""
cur.execute(sql)
cur.fetchall()

In [ ]:
sql = """
SELECT p25,p26,p27,p28,p29
    FROM
    (SELECT ROUND(AVG(ppl_char_25::int), 4) FROM people) AS p25,
    (SELECT ROUND(AVG(ppl_char_26::int), 4) FROM people) AS p26,
    (SELECT ROUND(AVG(ppl_char_27::int), 4) FROM people) AS p27,
    (SELECT ROUND(AVG(ppl_char_28::int), 4) FROM people) AS p28,
    (SELECT ROUND(AVG(ppl_char_29::int), 4) FROM people) AS p29;
"""
cur.execute(sql)
cur.fetchall()

In [ ]:
sql = """
SELECT p30,p31,p32,p33,p34
    FROM
    (SELECT ROUND(AVG(ppl_char_30::int), 4) FROM people) AS p30,
    (SELECT ROUND(AVG(ppl_char_31::int), 4) FROM people) AS p31,
    (SELECT ROUND(AVG(ppl_char_32::int), 4) FROM people) AS p32,
    (SELECT ROUND(AVG(ppl_char_33::int), 4) FROM people) AS p33,
    (SELECT ROUND(AVG(ppl_char_34::int), 4) FROM people) AS p34;
"""
cur.execute(sql)
cur.fetchall()

In [ ]:
sql = """
SELECT p35,p36,p37,ao
    FROM
    (SELECT ROUND(AVG(ppl_char_35::int), 4) FROM people) AS p35,
    (SELECT ROUND(AVG(ppl_char_36::int), 4) FROM people) AS p36,
    (SELECT ROUND(AVG(ppl_char_37::int), 4) FROM people) AS p37,
    (SELECT ROUND(AVG(act_outcome::int), 4) FROM action) AS ao; 
"""
cur.execute(sql)
cur.fetchall()

In [ ]:
sql = """
SELECT AVG(ppl_char_38), MAX(ppl_char_38), MIN(ppl_char_38) FROM people;
"""
cur.execute(sql)
cur.fetchall()