In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
people_data = pd.read_csv("../data/people_sample.csv")
action_data = pd.read_csv("../data/act_train_sample.csv")

In [3]:
joined = pd.merge(people_data, action_data, how='left', on=['people_id'])
joined.head(10)

,people_id,char_1_x,group_1,char_2_x,date_x,char_3_x,char_4_x,char_5_x,char_6_x,char_7_x,...,char_2_y,char_3_y,char_4_y,char_5_y,char_6_y,char_7_y,char_8_y,char_9_y,char_10_y,outcome
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0.0
1,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0.0
2,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0.0
3,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0.0
4,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0.0
5,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1727,0.0
6,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1.0
7,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1.0
8,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1.0
9,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1.0

In [4]:
joined.columns

Index(['people_id', 'char_1_x', 'group_1', 'char_2_x', 'date_x', 'char_3_x',
       'char_4_x', 'char_5_x', 'char_6_x', 'char_7_x', 'char_8_x', 'char_9_x',
       'char_10_x', 'char_11', 'char_12', 'char_13', 'char_14', 'char_15',
       'char_16', 'char_17', 'char_18', 'char_19', 'char_20', 'char_21',
       'char_22', 'char_23', 'char_24', 'char_25', 'char_26', 'char_27',
       'char_28', 'char_29', 'char_30', 'char_31', 'char_32', 'char_33',
       'char_34', 'char_35', 'char_36', 'char_37', 'char_38', 'activity_id',
       'date_y', 'activity_category', 'char_1_y', 'char_2_y', 'char_3_y',
       'char_4_y', 'char_5_y', 'char_6_y', 'char_7_y', 'char_8_y', 'char_9_y',
       'char_10_y', 'outcome'],
      dtype='object')

In [5]:
peeps = pd.read_csv("../data/people.csv")

In [6]:
peeps.columns

Index(['people_id', 'char_1', 'group_1', 'char_2', 'date', 'char_3', 'char_4',
       'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'char_10', 'char_11',
       'char_12', 'char_13', 'char_14', 'char_15', 'char_16', 'char_17',
       'char_18', 'char_19', 'char_20', 'char_21', 'char_22', 'char_23',
       'char_24', 'char_25', 'char_26', 'char_27', 'char_28', 'char_29',
       'char_30', 'char_31', 'char_32', 'char_33', 'char_34', 'char_35',
       'char_36', 'char_37', 'char_38'],
      dtype='object')

In [1]:
from os import chdir; chdir('../')

In [3]:
from lib.app import Q

In [ ]:
# chunk the people file and then, write the people columns to a file 
# abstract this to a method
# use Q to import to 
attrs = []
for col in peeps.columns:
    attr_set = set(peeps[col])
    print(col+' '+str(len(attr_set))+ ' '+str(len(sample_attr_set)))

In [8]:
action_data_1 = pd.read_csv("../data/splitdata/act_trainaa")

In [ ]:
action_data_1 = pd.read_csv("../data/splitdata/act_trainaa")
action_data_2 = pd.read_csv("../data/splitdata/act_trainab")
action_data_3 = pd.read_csv("../data/splitdata/act_trainac")
action_data_4 = pd.read_csv("../data/splitdata/act_trainad")
action_data_5 = pd.read_csv("../data/splitdata/act_trainae")
action_data_6 = pd.read_csv("../data/splitdata/act_trainaf")
action_data_7 = pd.read_csv("../data/splitdata/act_trainag")
action_data_8 = pd.read_csv("../data/splitdata/act_trainah")
action_data_9 = pd.read_csv("../data/splitdata/act_trainai")
action_data_a = pd.read_csv("../data/splitdata/act_trainaj")
action_data_b = pd.read_csv("../data/splitdata/act_trainak")