In [1]:
from os import chdir, environ; chdir('/home/jovyan/work/data')
from gc import collect
import numpy as np
import pandas as pd
import psycopg2
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
conn = psycopg2.connect(dbname='postgres', user='postgres', host=environ['POSTGRES_1_PORT_5432_TCP_ADDR'])
cur = conn.cursor()

In [7]:
sql = """
SELECT AVG(act_outcome::int) 
FROM action WHERE act_outcome=True or act_outcome=False
"""
cur.execute(sql)
cur.fetchall()

[(Decimal('0.44395439657287086690'),)]

In [15]:
sql = """
SELECT avg(act_outcome),count(*)
FROM (
  SELECT act_outcome::int
  FROM action
  WHERE act_outcome=True or act_outcome=False
  LIMIT 10000) x;
"""
cur.execute(sql)
cur.fetchall()

[(Decimal('0.45760000000000000000'), 10000)]

In [17]:
action_train_data = pd.read_csv("act_train_1.csv")

In [18]:
action_train_data = action_train_data.head(10000)

In [19]:
action_train_data.count()

people_id                10000
act_activity_id          10000
act_date                 10000
act_activity_category    10000
act_char_1                 818
act_char_2                 818
act_char_3                 818
act_char_4                 818
act_char_5                 818
act_char_6                 818
act_char_7                 818
act_char_8                 818
act_char_9                 818
act_char_10               9182
act_outcome              10000
dtype: int64

In [20]:
action_train_data.columns

Index(['people_id', 'act_activity_id', 'act_date', 'act_activity_category',
       'act_char_1', 'act_char_2', 'act_char_3', 'act_char_4', 'act_char_5',
       'act_char_6', 'act_char_7', 'act_char_8', 'act_char_9', 'act_char_10',
       'act_outcome'],
      dtype='object')

In [22]:
action_train_data.act_char_1.unique()

array([nan, 'type 3', 'type 36', 'type 24', 'type 2', 'type 5', 'type 12',
       'type 23', 'type 7', 'type 1', 'type 10', 'type 29', 'type 8',
       'type 16', 'type 26', 'type 15', 'type 17', 'type 13', 'type 41',
       'type 11', 'type 9', 'type 25', 'type 6', 'type 4', 'type 19',
       'type 20', 'type 30', 'type 14', 'type 28', 'type 22', 'type 35',
       'type 40'], dtype=object)

In [10]:
action_train_data.head()

,people_id,act_activity_id,act_date,act_activity_category,act_char_1,act_char_2,act_char_3,act_char_4,act_char_5,act_char_6,act_char_7,act_char_8,act_char_9,act_char_10,act_outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0.0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0.0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0.0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0.0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0.0

In [11]:
action_train_data.describe()

         act_outcome
count  549999.000000
mean        0.445521
std         0.497024
min         0.000000
25%         0.000000
50%         0.000000
75%         1.000000
max         1.000000