In [1]:
import psycopg2
import numpy as np
from os import environ
conn = psycopg2.connect(dbname='postgres', user='postgres', host=environ['POSTGRES_1_PORT_5432_TCP_ADDR'])
cur = conn.cursor()

In [2]:
cur.execute("SELECT ppl_char_1,ppl_char_2 FROM people LIMIT 10")
this_row = cur.fetchone()
one_hot = []
while this_row:
    one_hot.append([
            this_row[0] == 'type 1',
            this_row[0] == 'type 2',
            this_row[1] == 'type 1',
            this_row[1] == 'type 2',
            this_row[1] == 'type 3',
        ])
    this_row = cur.fetchone()
np.array(one_hot, dtype=int)

array([[0, 1, 0, 1, 0],
       [0, 1, 0, 0, 1],
       [0, 1, 0, 0, 1],
       [0, 1, 0, 0, 1],
       [0, 1, 0, 0, 1],
       [0, 1, 0, 0, 1],
       [0, 1, 0, 1, 0],
       [0, 1, 0, 0, 1],
       [0, 1, 0, 0, 1],
       [0, 1, 0, 0, 1]])

In [3]:
conn = psycopg2.connect(dbname='postgres', user='postgres', host=environ['POSTGRES_1_PORT_5432_TCP_ADDR'])
cur = conn.cursor()
cur.execute("SELECT act_id, act_outcome FROM action WHERE act_outcome = True OR act_outcome = False LIMIT 10")
this_id = cur.fetchone()[0]
cur.execute("""
    SELECT a.act_id, a.act_date, a.act_category,
            a.act_char_1, a.act_char_2, a.act_char_3,
            a.act_char_4, a.act_char_5, a.act_char_6,
            a.act_char_7, a.act_char_8, a.act_char_9,
            a.act_char_10, a.act_outcome, p.people_id,
            p.ppl_char_1, p.ppl_group_1, p.ppl_char_2,
            p.ppl_date, p.ppl_char_3, p.ppl_char_4,
            p.ppl_char_5, p.ppl_char_6, p.ppl_char_7,
            p.ppl_char_8, p.ppl_char_9, p.ppl_char_10,
            p.ppl_char_11, p.ppl_char_12, p.ppl_char_13,
            p.ppl_char_14, p.ppl_char_15, p.ppl_char_16,
            p.ppl_char_17, p.ppl_char_18, p.ppl_char_19,
            p.ppl_char_20, p.ppl_char_21, p.ppl_char_22,
            p.ppl_char_23, p.ppl_char_24, p.ppl_char_25,
            p.ppl_char_26, p.ppl_char_27, p.ppl_char_28,
            p.ppl_char_29, p.ppl_char_30, p.ppl_char_31,
            p.ppl_char_32, p.ppl_char_33, p.ppl_char_34,
            p.ppl_char_35, p.ppl_char_36, p.ppl_char_37,
            p.ppl_char_38
    FROM action a, people p 
    WHERE a.people_id = p.people_id AND a.act_id = '{}'
    """.format(this_id))
ppl_actions = cur.fetchall()

In [4]:
len(ppl_actions)

1

In [6]:
keys = [
    #('people_id',False),
    ('act_id',False),
    ('act_date',False),
    ('act_category',True),
    ('act_char_1',True),
    ('act_char_2',True),
    ('act_char_3',True),
    ('act_char_4',True),
    ('act_char_5',True),
    ('act_char_6',True),
    ('act_char_7',True),
    ('act_char_8',True),
    ('act_char_9',True),
    ('act_char_10',False), 
    ('act_outcome',False), 
    ('people_id',False),
    ('ppl_char_1',True),
    ('ppl_group_1',False),
    ('ppl_char_2',True),
    ('ppl_date',False),
    ('ppl_char_3',True),
    ('ppl_char_4',True),
    ('ppl_char_5',True),
    ('ppl_char_6',True),
    ('ppl_char_7',True),
    ('ppl_char_8',True),
    ('ppl_char_9',True),
    ('ppl_char_10',False),
    ('ppl_char_11',False),
    ('ppl_char_12',False),
    ('ppl_char_13',False),
    ('ppl_char_14',False),
    ('ppl_char_15',False),
    ('ppl_char_16',False),
    ('ppl_char_17',False),
    ('ppl_char_18',False),
    ('ppl_char_19',False),
    ('ppl_char_20',False),
    ('ppl_char_21',False),
    ('ppl_char_22',False),
    ('ppl_char_23',False),
    ('ppl_char_24',False),
    ('ppl_char_25',False),
    ('ppl_char_26',False),
    ('ppl_char_27',False),
    ('ppl_char_28',False),
    ('ppl_char_29',False),
    ('ppl_char_30',False),
    ('ppl_char_31',False),
    ('ppl_char_32',False),
    ('ppl_char_33',False),
    ('ppl_char_34',False),
    ('ppl_char_35',False),
    ('ppl_char_36',False),
    ('ppl_char_37',False),
    ('ppl_char_38',False),
]

In [7]:
for ppl_act in ppl_actions:
    cols = []
    vals = []
    for key, attr in zip(keys,ppl_actions[0]):
        if key[1]:
            if attr == None:
                attr = 'none'
            col = str(key[0])+'_'+attr.replace(' ','_')
            attr = True
        else:
            col = key[0]
        cols.append(col)
        vals.append(str(attr))
    vals = "', '".join(vals)

    cols = ", ".join(cols)

In [8]:
cols

'act_id, act_date, act_category_type_1, act_char_1_type_5, act_char_2_type_5, act_char_3_type_4, act_char_4_type_3, act_char_5_type_6, act_char_6_type_3, act_char_7_type_6, act_char_8_type_4, act_char_9_type_8, act_char_10, act_outcome, people_id, ppl_char_1_type_2, ppl_group_1, ppl_char_2_type_2, ppl_date, ppl_char_3_type_8, ppl_char_4_type_6, ppl_char_5_type_8, ppl_char_6_type_4, ppl_char_7_type_16, ppl_char_8_type_3, ppl_char_9_type_3, ppl_char_10, ppl_char_11, ppl_char_12, ppl_char_13, ppl_char_14, ppl_char_15, ppl_char_16, ppl_char_17, ppl_char_18, ppl_char_19, ppl_char_20, ppl_char_21, ppl_char_22, ppl_char_23, ppl_char_24, ppl_char_25, ppl_char_26, ppl_char_27, ppl_char_28, ppl_char_29, ppl_char_30, ppl_char_31, ppl_char_32, ppl_char_33, ppl_char_34, ppl_char_35, ppl_char_36, ppl_char_37, ppl_char_38'

In [26]:
conn = psycopg2.connect(dbname='postgres', user='postgres', host=environ['REDHAT_POSTGRES_1_PORT_5432_TCP_ADDR'])
cur = conn.cursor()
cur.execute("INSERT into one_hot_ppl_act ({}) VALUES ('{}');".format(cols,vals))

In [27]:
cur.execute("SELECT * FROM one_hot_ppl_act")
cur.fetchone()

('ppl_100',
 'group 17304',
 datetime.datetime(2021, 6, 29, 0, 0),
 datetime.datetime(2023, 8, 26, 0, 0),
 'act2_1734928',
 False,
 False,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 True,
 True,
 False,
 True,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False,
 True,
 True,
 True,
 False,
 36.0,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 True,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 False,
 'type 76')

In [15]:
heads = []
cur.execute("SELECT DISTINCT act_char_9 FROM action")
for head in cur.fetchall():
    if head[0] == None:
        header = 'none'
    else:
        header = head[0]
    heads.append("act_char_9"+'_'+header.replace(' ', "_"))
heads

['act_char_9_none',
 'act_char_9_type_4',
 'act_char_9_type_1',
 'act_char_9_type_6',
 'act_char_9_type_9',
 'act_char_9_type_15',
 'act_char_9_type_10',
 'act_char_9_type_5',
 'act_char_9_type_14',
 'act_char_9_type_8',
 'act_char_9_type_2',
 'act_char_9_type_17',
 'act_char_9_type_11',
 'act_char_9_type_18',
 'act_char_9_type_16',
 'act_char_9_type_19',
 'act_char_9_type_7',
 'act_char_9_type_13',
 'act_char_9_type_3',
 'act_char_9_type_12']

In [16]:
%save heads str(heads)

File `heads.py` exists. Overwrite (y/[N])?  y
The following commands were written to file `heads.py`:
['act_char_9_none', 'act_char_9_type_4', 'act_char_9_type_1', 'act_char_9_type_6', 'act_char_9_type_9', 'act_char_9_type_15', 'act_char_9_type_10', 'act_char_9_type_5', 'act_char_9_type_14', 'act_char_9_type_8', 'act_char_9_type_2', 'act_char_9_type_17', 'act_char_9_type_11', 'act_char_9_type_18', 'act_char_9_type_16', 'act_char_9_type_19', 'act_char_9_type_7', 'act_char_9_type_13', 'act_char_9_type_3', 'act_char_9_type_12']

In [4]:
str(column_names)

"['people_id', 'ppl_char_1', 'ppl_group_1', 'ppl_char_2', 'ppl_date', 'ppl_char_3', 'ppl_char_4', 'ppl_char_5', 'ppl_char_6', 'ppl_char_7', 'ppl_char_8', 'ppl_char_9', 'ppl_char_10', 'ppl_char_11', 'ppl_char_12', 'ppl_char_13', 'ppl_char_14', 'ppl_char_15', 'ppl_char_16', 'ppl_char_17', 'ppl_char_18', 'ppl_char_19', 'ppl_char_20', 'ppl_char_21', 'ppl_char_22', 'ppl_char_23', 'ppl_char_24', 'ppl_char_25', 'ppl_char_26', 'ppl_char_27', 'ppl_char_28', 'ppl_char_29', 'ppl_char_30', 'ppl_char_31', 'ppl_char_32', 'ppl_char_33', 'ppl_char_34', 'ppl_char_35', 'ppl_char_36', 'ppl_char_37', 'ppl_char_38']"

In [5]:
column_names.remove('people_id')
column_names.remove('ppl_group_1')
column_names.remove('ppl_date')

In [6]:
names_distinct_counts = []
for col in column_names:
    cur.execute("SELECT COUNT( DISTINCT {}) FROM people".format(col))
    names_distinct_counts.append((col,cur.fetchall()[0][0]))
str(names_distinct_counts)

"[('ppl_char_1', 2), ('ppl_char_2', 3), ('ppl_char_3', 43), ('ppl_char_4', 25), ('ppl_char_5', 9), ('ppl_char_6', 7), ('ppl_char_7', 25), ('ppl_char_8', 8), ('ppl_char_9', 9), ('ppl_char_10', 2), ('ppl_char_11', 2), ('ppl_char_12', 2), ('ppl_char_13', 2), ('ppl_char_14', 2), ('ppl_char_15', 2), ('ppl_char_16', 2), ('ppl_char_17', 2), ('ppl_char_18', 2), ('ppl_char_19', 2), ('ppl_char_20', 2), ('ppl_char_21', 2), ('ppl_char_22', 2), ('ppl_char_23', 2), ('ppl_char_24', 2), ('ppl_char_25', 2), ('ppl_char_26', 2), ('ppl_char_27', 2), ('ppl_char_28', 2), ('ppl_char_29', 2), ('ppl_char_30', 2), ('ppl_char_31', 2), ('ppl_char_32', 2), ('ppl_char_33', 2), ('ppl_char_34', 2), ('ppl_char_35', 2), ('ppl_char_36', 2), ('ppl_char_37', 2), ('ppl_char_38', 101)]"

In [14]:
names_distinct = []
for col in column_names:
    cur.execute("SELECT DISTINCT {} FROM people".format(col))
    names_distinct.append((col, [c[0] for c in cur.fetchall()]))
str(names_distinct)

"[('ppl_char_1', ['type 1', 'type 2']), ('ppl_char_2', ['type 3', 'type 2', 'type 1']), ('ppl_char_3', ['type 24', 'type 21', 'type 28', 'type 4', 'type 1', 'type 27', 'type 6', 'type 26', 'type 33', 'type 35', 'type 37', 'type 10', 'type 8', 'type 2', 'type 22', 'type 39', 'type 7', 'type 13', 'type 40', 'type 3', 'type 20', 'type 38', 'type 36', 'type 42', 'type 34', 'type 41', 'type 31', 'type 9', 'type 15', 'type 5', 'type 14', 'type 17', 'type 11', 'type 18', 'type 16', 'type 29', 'type 19', 'type 32', 'type 44', 'type 25', 'type 12', 'type 30', 'type 23']), ('ppl_char_4', ['type 21', 'type 24', 'type 4', 'type 1', 'type 6', 'type 9', 'type 15', 'type 5', 'type 10', 'type 14', 'type 8', 'type 2', 'type 22', 'type 17', 'type 11', 'type 18', 'type 16', 'type 19', 'type 7', 'type 13', 'type 25', 'type 12', 'type 3', 'type 20', 'type 23']), ('ppl_char_5', ['type 4', 'type 1', 'type 6', 'type 9', 'type 7', 'type 3', 'type 5', 'type 8', 'type 2']), ('ppl_char_6', ['type 4', 'type 7', 'type 1', 'type 3', 'type 6', 'type 5', 'type 2']), ('ppl_char_7', ['type 21', 'type 24', 'type 4', 'type 1', 'type 6', 'type 9', 'type 15', 'type 5', 'type 10', 'type 14', 'type 8', 'type 2', 'type 22', 'type 17', 'type 11', 'type 18', 'type 16', 'type 19', 'type 7', 'type 13', 'type 25', 'type 3', 'type 12', 'type 20', 'type 23']), ('ppl_char_8', ['type 4', 'type 7', 'type 1', 'type 3', 'type 6', 'type 5', 'type 2', 'type 8']), ('ppl_char_9', ['type 4', 'type 1', 'type 6', 'type 9', 'type 7', 'type 3', 'type 5', 'type 2', 'type 8']), ('ppl_char_10', ['True', 'False']), ('ppl_char_11', ['False', 'True']), ('ppl_char_12', ['False', 'True']), ('ppl_char_13', ['True', 'False']), ('ppl_char_14', ['True', 'False']), ('ppl_char_15', ['False', 'True']), ('ppl_char_16', ['True', 'False']), ('ppl_char_17', ['False', 'True']), ('ppl_char_18', ['False', 'True']), ('ppl_char_19', ['False', 'True']), ('ppl_char_20', ['False', 'True']), ('ppl_char_21', ['True', 'False']), ('ppl_char_22', ['False', 'True']), ('ppl_char_23', ['False', 'True']), ('ppl_char_24', ['False', 'True']), ('ppl_char_25', ['False', 'True']), ('ppl_char_26', ['False', 'True']), ('ppl_char_27', ['True', 'False']), ('ppl_char_28', ['True', 'False']), ('ppl_char_29', ['False', 'True']), ('ppl_char_30', ['True', 'False']), ('ppl_char_31', ['True', 'False']), ('ppl_char_32', ['False', 'True']), ('ppl_char_33', ['False', 'True']), ('ppl_char_34', ['True', 'False']), ('ppl_char_35', ['True', 'False']), ('ppl_char_36', ['True', 'False']), ('ppl_char_37', ['False', 'True']), ('ppl_char_38', [0.0, 48.0, 31.0, 60.0, 28.0, 80.0, 38.0, 61.0, 98.0, 86.0, 34.0, 66.0, 16.0, 75.0, 21.0, 53.0, 29.0, 6.0, 49.0, 27.0, 85.0, 22.0, 35.0, 76.0, 51.0, 39.0, 32.0, 79.0, 5.0, 74.0, 91.0, 40.0, 84.0, 77.0, 69.0, 57.0, 11.0, 55.0, 1.0, 19.0, 70.0, 20.0, 23.0, 17.0, 13.0, 42.0, 89.0, 47.0, 54.0, 2.0, 88.0, 46.0, 82.0, 95.0, 83.0, 44.0, 52.0, 59.0, 45.0, 94.0, 18.0, 92.0, 58.0, 63.0, 68.0, 25.0, 3.0, 62.0, 81.0, 56.0, 26.0, 10.0, 30.0, 12.0, 15.0, 73.0, 67.0, 43.0, 71.0, 24.0, 7.0, 65.0, 9.0, 37.0, 36.0, 33.0, 8.0, 78.0, 99.0, 72.0, 4.0, 93.0, 90.0, 96.0, 41.0, 100.0, 97.0, 50.0, 14.0, 87.0, 64.0])]"

In [16]:
conn.close()