In [37]:
import psycopg2
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from os import environ
conn = psycopg2.connect(dbname='postgres', user='postgres', host=environ['POSTGRES_1_PORT_5432_TCP_ADDR'])
cur = conn.cursor()

In [ ]:
fields = """a.act_id, a.act_date, a.act_category,
            a.act_char_1, a.act_char_2, a.act_char_3,
            a.act_char_4, a.act_char_5, a.act_char_6,
            a.act_char_7, a.act_char_8, a.act_char_9,
            a.act_char_10, a.act_outcome, p.people_id,
            p.ppl_char_1, p.ppl_group_1, p.ppl_char_2,
            p.ppl_date, p.ppl_char_3, p.ppl_char_4,
            p.ppl_char_5, p.ppl_char_6, p.ppl_char_7,
            p.ppl_char_8, p.ppl_char_9, p.ppl_char_10,
            p.ppl_char_11, p.ppl_char_12, p.ppl_char_13,
            p.ppl_char_14, p.ppl_char_15, p.ppl_char_16,
            p.ppl_char_17, p.ppl_char_18, p.ppl_char_19,
            p.ppl_char_20, p.ppl_char_21, p.ppl_char_22,
            p.ppl_char_23, p.ppl_char_24, p.ppl_char_25,
            p.ppl_char_26, p.ppl_char_27, p.ppl_char_28,
            p.ppl_char_29, p.ppl_char_30, p.ppl_char_31,
            p.ppl_char_32, p.ppl_char_33, p.ppl_char_34,
            p.ppl_char_35, p.ppl_char_36, p.ppl_char_37,
            p.ppl_char_38"""

In [16]:
cur.execute("""SELECT act_id 
            FROM action 
            WHERE act_outcome = True OR act_outcome = False 
            LIMIT 10000""")
sample_ids = cur.fetchall()
sample_ids = [id[0] for id in sample_ids]

In [ ]:
ppl_actions = []
for this_id in sample_ids:
    cur.execute("""
    SELECT {}
    FROM action a, people p 
    WHERE a.people_id = p.people_id AND a.act_id = '{}'
    """.format(fields, this_id))
ppl_actions.append(cur.fetchall()[0])

In [38]:
df = pd.DataFrame.from_records(ppl_actions, columns=fields.split(','))
df.head()

,a.act_id,a.act_date,a.act_category,a.act_char_1,a.act_char_2,a.act_char_3,a.act_char_4,a.act_char_5,a.act_char_6,a.act_char_7,...,p.ppl_char_29,p.ppl_char_30,p.ppl_char_31,p.ppl_char_32,p.ppl_char_33,p.ppl_char_34,p.ppl_char_35,p.ppl_char_36,p.ppl_char_37,p.ppl_char_38
0,act2_2564972,2023-04-13,type 02,None,None,None,None,None,None,None,...,False,False,False,True,False,True,False,True,True,95.0
1,act2_2564972,2023-04-13,type 02,None,None,None,None,None,None,None,...,False,False,False,True,False,True,False,True,True,95.0
2,act2_2564972,2023-04-13,type 02,None,None,None,None,None,None,None,...,False,False,False,True,False,True,False,True,True,95.0
3,act2_2564972,2023-04-13,type 02,None,None,None,None,None,None,None,...,False,False,False,True,False,True,False,True,True,95.0
4,act2_2564972,2023-04-13,type 02,None,None,None,None,None,None,None,...,False,False,False,True,False,True,False,True,True,95.0

In [40]:
from sklearn.decomposition import PCA 
pca = PCA(6)
pca.fit(df)

ValueError: could not convert string to float: 'type 02'